{% include consent-flag.html %}
{% if consent_cmp_active %}
  {% assign cc = site.data.site_ops.cookie_consent %}
  {% if cc.provider == 'cookieyes' %}
<script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/{{ cc.cookieyes_id }}/script.js"></script>
  {% elsif cc.provider == 'cookiebot' %}
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="{{ cc.cookiebot_id }}" data-blockingmode="auto" type="text/javascript"></script>
  {% endif %}
{% endif %}
