{%- capture _pd -%}{%- include post-domain.html post=include.post domain_override=include.domain_override -%}{%- endcapture -%}
{%- assign _pd = _pd | split: '|' -%}
{%- assign label_domain = _pd[0] -%}

{% assign label_type = "Technical Intelligence Brief" %}
{% if label_domain == "Economics" %}
  {% assign label_type = "Economic Intelligence Brief" %}
{% elsif label_domain == "Machine Learning" %}
  {% assign label_type = "Model Intelligence Brief" %}
{% elsif label_domain == "Business Intelligence" %}
  {% assign label_type = "BI Intelligence Brief" %}
{% elsif label_domain == "Computer Vision" %}
  {% assign label_type = "Computer Vision Intelligence Brief" %}
{% endif %}
{{ label_type }}
